/* Mobile Responsiveness */
@media (max-width: 768px) {
  body {
    background-color: var(--section-bg);
	padding-bottom: 100px;
	line-height: 1.1em;
  }
  h1 {
    font-size: 1.5rem;
  }
  fieldset, #dropzone, #summary {
    padding: 0.8rem;
  }
  .container {
    margin: 0;
    max-width: none;
    border-radius: 0;
    box-shadow: none;
	width: calc(100% - 30px);
	font-size: 0.8em;
	height: 100vh;
	padding: 0 15px;
  }
  .header {
    margin-bottom: 0.5rem;
  }
  .progress-text {
    font-size: 0.8rem;
  }
  #downloadButton {
    font-size: 16px;
    padding: 10px 20px;
  }
}